<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="position">
      <h2 data-cy="positionDetailsHeading"><span>Position</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ position.id }}</span>
        </dd>
        <dt><span>Statement</span></dt>
        <dd>
          <span>{{ position.statement }}</span>
        </dd>
        <dt><span>Issue</span></dt>
        <dd>
          <div *ngIf="position.issue">
            <a [routerLink]="['/issue', position.issue.id, 'view']">{{ position.issue.id }}</a>
          </div>
        </dd>
        <dt><span>Candidate</span></dt>
        <dd>
          <div *ngIf="position.candidate">
            <a [routerLink]="['/candidate', position.candidate.id, 'view']">{{ position.candidate.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/position', position.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
