<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="candidate">
      <h2 data-cy="candidateDetailsHeading"><span jhiTranslate="democracyApp.candidate.detail.title">Candidate</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ candidate.id }}</span>
        </dd>
        <dt><span jhiTranslate="democracyApp.candidate.firstName">First Name</span></dt>
        <dd>
          <span>{{ candidate.firstName }}</span>
        </dd>
        <dt><span jhiTranslate="democracyApp.candidate.lastName">Last Name</span></dt>
        <dd>
          <span>{{ candidate.lastName }}</span>
        </dd>
        <dt><span jhiTranslate="democracyApp.candidate.email">Email</span></dt>
        <dd>
          <span>{{ candidate.email }}</span>
        </dd>
        <dt><span jhiTranslate="democracyApp.candidate.pic">Pic</span></dt>
        <dd>
          <div *ngIf="candidate.pic">
            <a (click)="openFile(candidate.pic, candidate.picContentType)">
              <img [src]="'data:' + candidate.picContentType + ';base64,' + candidate.pic" style="max-width: 100%" alt="candidate image" />
            </a>
            {{ candidate.picContentType }}, {{ byteSize(candidate.pic) }}
          </div>
        </dd>
        <dt><span jhiTranslate="democracyApp.candidate.office">Office</span></dt>
        <dd>
          <div *ngIf="candidate.office">
            <a [routerLink]="['/office', candidate.office.id, 'view']">{{ candidate.office.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="democracyApp.candidate.address">Address</span></dt>
        <dd>
          <div *ngIf="candidate.address">
            <a [routerLink]="['/address', candidate.address.id, 'view']">{{ candidate.address.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/candidate', candidate.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
