<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="issue">
      <h2 data-cy="issueDetailsHeading"><span jhiTranslate="democracyApp.issue.detail.title">Issue</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ issue.id }}</span>
        </dd>
        <dt><span jhiTranslate="democracyApp.issue.name">Name</span></dt>
        <dd>
          <span>{{ issue.name }}</span>
        </dd>
        <dt><span jhiTranslate="democracyApp.issue.description">Description</span></dt>
        <dd>
          <span>{{ issue.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/issue', issue.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
