<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="office">
      <h2 data-cy="officeDetailsHeading"><span>Office</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ office.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ office.name }}</span>
        </dd>
        <dt><span>Municipality</span></dt>
        <dd>
          <span>{{ office.municipality }}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
          <span>{{ office.state }}</span>
        </dd>
        <dt><span>Election Date</span></dt>
        <dd>
          <span>{{ office.electionDate | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/office', office.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
